.center-text
  text-align  center !important

.no-padding
  padding 0

.no-margin
  margin 0

.mtop-15
  margin-top 15px

.mtop-30
  margin-top 30px

.mbottom-15
  margin-bottom 15px

.mbottom-30
  margin-bottom 30px

.mleft-30
  margin-left 30px

.mleft-5
  margin-left 5px

.pleft-15
  padding-left 15px !important

.pleft-30
  padding-left 30px

.pright-30
  padding-right 30px