tags-input
  border-bottom 1px solid #dcd7d7
  padding 0
  .host
    outline none
  .tags
    border none
    box-shadow none
    padding 0
    &.focused
      -webkit-box-shadow none
      box-shadow none
    .tag-item
      background white
      border solid 1px rgba(39,43,47,0.5)
      border-radius 0
      span
        font-family Open San, sans-serif
        font-size 12px
        font-weight 300
    .remove-button
      display inline
      color #000
    input:focus
      outline none
    ::-webkit-input-placeholder /* Chrome/Opera/Safari */
      color #fff
    ::-moz-placeholder /* Firefox 19+ */
      color #fff
    :-ms-input-placeholder /* IE 10+ */
      color #fff
    :-moz-placeholder /* Firefox 18- */
      color #fff
