.img-todo
  &.accommodation
    background-image: url("/vendor/images/todos/accommodation.png") !important
  &.bridalwear
    background-image: url("/vendor/images/todos/bridalwear.png") !important
  &.bridesmaids-dresses
    background-image: url("/vendor/images/todos/bridesmaids.png") !important
  &.bridal-footwear, &.grooms-footwear, &.groomsmens-footwear, &.bridesmaids-footwear
    background-image: url("/vendor/images/todos/footwear.png") !important
  &.cake
    background-image: url("/vendor/images/todos/cakes-and-bakeries.png") !important
  &.catering
    background-image: url("/vendor/images/todos/catering.png") !important
  &.celebrant
    background-image: url("/vendor/images/todos/celebrant.png") !important
  &.ceremony-music, &.musicians, &.dj, &.entertainment, &.mc
    background-image: url("/vendor/images/todos/music-and-entertainment.png") !important
  &.ceremony-venue
    background-image: url("/vendor/images/todos/ceremony-venue.png") !important
  &.favours, &.gifts
    background-image: url("/vendor/images/todos/bombonieres-and-gifts.png") !important
  &.flowers
    background-image: url("/vendor/images/todos/florist.png") !important
  &.grooms-outfit
    background-image: url("/vendor/images/todos/grooms-outfit.png") !important
  &.groomsmens-outfit
    background-image: url("/vendor/images/todos/groomsmen.png") !important
  &.hair
    background-image: url("/vendor/images/todos/hairstylist.png") !important
  &.juniorwear
    background-image: url("/vendor/images/todos/juniorwear.png") !important
  &.lighting-and-audio-equipment
    background-image: url("/vendor/images/todos/lighting-and-audio-equipment.png") !important
  &.makeup
    background-image: url("/vendor/images/todos/makeup.png") !important
  &.photography
    background-image: url("/vendor/images/todos/photography.png") !important
  &.reception-venue
    background-image: url("/vendor/images/todos/reception-venue.png") !important
  &.save-the-date, &.invitations, &.thank-you-cards
    background-image: url("/vendor/images/todos/invitations.png") !important
  &.styling, &.rental-and-hire
    background-image: url("/vendor/images/todos/styling-and-hire.png") !important
  &.transportation
    background-image: url("/vendor/images/todos/transportation.png") !important
  &.videography
    background-image: url("/vendor/images/todos/videography.png") !important
  &.wedding-planning
    background-image: url("/vendor/images/todos/coordination-and-planning.png") !important
  &.wedding-rings, &.bridal-jewellery-and-accessories, &.bridesmaids-jewellery-and-accessories
    background-image: url("/vendor/images/todos/jewellry-and-accessories.png") !important
  &.item-custom
    background-image: url("/vendor/images/todos/misc.png")