@import '../../../vendor/grid.css'
@import '../../../vendor/growl.css'
@import '../../../vendor/swal.css'
@import '../../../vendor/addtohomescreen.css'
@import '../../../vendor/angular-datepicker.css'


$primary-bg = #ffffff
$primary-text = #272b2f
$secondary-text = #88898c

$border=  #dcd7d7
//dashboard backgrounds
$light-green = #c9e6c2
$light-pink = #f3d4d8
$light-orange = #faefe8
$light-blue = #eef8fc
$light-gray = #f8f8f8
$blue = #cceaf6
$green = #d1e5bc
$pink = #ebb3bc

$success = #abcf85
$green-btn = #5BC836
$white = #ffffff
$yellow = #eecb25
$primary-hover = #ce4257
$light-pink-text = #d75b6c
$light-black = #383b40
$unfill = #ebebec
$gray = #7d8082
$danger = #ff0000
$default-photo-bg = mix(black, $white, 2%)

$device-xs = 480px
$device-sm = 768px
$device-md = 1024px
$device-lg = 1224px
$device-xl = 1600px

.success
  color: $success !important

.danger
  color: $danger !important

.yellow
  color: $yellow !important

.white
  color: $white !important

.green
  color: #8fd381 !important

.default
  color $primary-text !important

.danger-bg
  background-color: $danger !important
  color: $white !important

.success-bg
  background-color: $success !important
  color: $white !important

.cancel-bg
  background-color: $light-black !important
  color: $white !important

.swal2-overlay
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 2000

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector

modal, .swal2-container
  ::-webkit-scrollbar
    display: none

.table-form
  a
    font-size: 12px
    padding: 8px 12px
    color: #fff !important
