#customer-referral-report
  td[colspan]
    text-align center
    font-weight bold
  .text-red
    color red
    font-weight bold
    text-decoration underline
  .text-grey
    color #ddd
  .text-white
    color #fff
  .slider.round
    font-weight 300
    border-radius 3px
    width 80px
    text-align center
    padding-left 6px
  .switch
    input + span
      background-color #ddd
    input:checked + span
      background-color rgb(93, 156, 236)
    span
      background-color grey
    input + span:after
      left 0
      border-radius 4px
      width 10px
    input:checked + span:after
      left calc(100% - 10px)
  .email
    max-width: 215px
    overflow: hidden
    text-overflow: ellipsis
    &.vendor
      max-width: 241px
input#inactivity-input
  border-radius 4px
  width 80px
  margin-bottom 1rem
