header(logout="logout()" current-user="currentUser" current-vendor="vendor" page-title="Terms and Conditions")
.main-content
  .content-container.white-box(style="overflow: scroll;")
    a.icon.icon-exit.pull-right(style="padding: 30px 30px 0 0;" ng-click="return()")
    br/
    br/
    #term-conditions
      #logo
        span WE / 
        span PLANR
      br/

      b(style="font-size: 15.5px;") Platform Terms and Conditions
      br/
      br/
      p
        |These Terms and Conditions of Use ("
        b Terms
        | ") govern your use of the WePlanr website at 
        a(href="https://www.weplanr.com" target="_blank") https://www.weplanr.com
        | &nbsp;(“
        b Site
        | ”, “
        b Platform
        | ”) and form a binding contractual agreement between you as either a:
        br/
        br/
        span(style="padding-left: 25px;") a) vendor offering products and services on the Platform (“
        b Vendor
        |”); or
        br/
        span(style="padding-left: 25px;") b) customer seeking products or services via the Platform (“
        b Customer
        |”),

      p collectively referred to as (“
        b You
        |”), and WePlanr Pty Ltd ACN: 610 314 871 (“
        b WePlanr
        |”, “
        b Us
        |”, “
        b We
        |”, “
        b Our
        |”).

      p For that reason these Terms are important and You should ensure that You read them carefully and contact WePlanr at&nbsp;
        a(href="mailto:info@weplanr.com") info@weplanr.com
        |&nbsp;if You have any questions before using the Platform.

      p By using the Platform, You acknowledge and agree that You have had sufficient chance to read and understand the Terms and that You agree to be bound by them. If You do not agree to these Terms, please do not use the Platform.

      p WePlanr may change all or part of the Terms at any time. If We do, the new Terms will be posted on the Platform. Your subsequent or continued use of the Platform will constitute Your acceptance of any changes. If You object to any changes to the Terms, Your only remedy is to immediately discontinue Your use of the Platform.

      p These Terms were last updated in August 26 2017.

      br/
      b The following definitions apply to these Terms:
      br/
      br/
      b Booking
      | &nbsp;means a booking for Products or Services provided by a Vendor to a Customer via the Platform.
      br/
      br/
      b Customer
      | &nbsp;means a member of the public who requests Services via the Platform from a Vendor.
      br/
      br/
      b Platform
      | &nbsp;means the Website located at&nbsp;
      a(href="https://www.weplanr.com" target="_blank") https://www.weplanr.com
      |&nbsp;and any WePlanr software applications for mobile, tablet and other smart devices and application program interfaces.
      br/
      br/
      b Products
      | &nbsp;means wedding related products provided by Vendors to Customers via the Platform.
      br/
      br/
      b Services
      | &nbsp;means wedding related services, including the provision of Products provided by Vendors to Customers via the Platform. 
      br/
      br/
      b Service Fees
      | &nbsp;means any fees payable by the Customer for the Services. 
      br/
      br/
      b Service Listing
      | &nbsp;means any Services that are listed by Vendors available for Customers to book via the Platform. 
      br/
      br/
      b Transaction Fees
      | &nbsp;means a fee payable by the Vendor to WePlanr per Booking, to be calculated with reference to the value of the Booking and paid with each Customer payment as set out in clause 14 of these Terms.
      br/
      br/
      b Vendor
      | &nbsp;means a provider of wedding related services who has agreed to register or registered an account with WePlanr to provide Services to Customers via the Platform.
      br/
      br/
      b WePlanr Content
      | &nbsp;means all Content that WePlanr makes available through the Platform, Site, Application, Services, or its related promotional campaigns and official social media channels, including any Content licensed from a third party, but excluding Vendor Content.
      br/
      br/
      b Your Content
      | &nbsp;means any text, images, graphics, audio, video, information or other content that Customers or Vendors make available to WePlanr or, in the case of Vendors, via the Vendor’s website, including any content licensed from a third party. 
      
      table
        tbody
          tr
            td(colspan="2" style="font-size: 15.5px;") Vendor Account Registration
          tr
            td 1
            td
              |Vendors must register an account with WePlanr in order to create a Service Listing. This registration can be done via an agent or employee of WePlanr, or by the Vendor via the Platform.
          tr
            td 2
            td
              |Vendors must provide accurate, complete and up-to-date registration information, as requested.
          tr
            td 3
            td
              |It is the Vendor’s responsibility to inform WePlanr of any changes to the Vendor registration information.
          tr
            td 4
            td
              |To the extent that the Vendor provides personal information, WePlanr will treat such information strictly in accordance with WePlanr’s Privacy Policy.
          tr
            td 5
            td
              |Vendors must not register multiple times, nor impersonate or create an account for any person other than for the Vendor itself, or for any other business other than the one the Vendor owns.
          tr
            td 6
            td
              |WePlanr may at any time request a form of identification to verify the Vendor’s identity.
          tr
            td 7
            td
              |The Vendor must ensure the security and confidentiality of its registration details, including any username and/or password assigned to the Vendor. Vendors must notify WePlanr immediately if they become aware of any unauthorised use of their account.
          tr
            td 8
            td
              |The Vendor may not transfer their account to any other entity.
          tr
            td 9
            td
              |WePlanr reserves the right to, in its sole discretion, suspend or terminate the Vendor’s access to all or any part of the Platform, including if WePlanr believes that the Vendor is abusing the Platform in any way, has breached the Terms or is no longer an active Vendor.
          tr
            td 10
            td
              |Vendors must also create an account with WePlanr’s third party payment gateway, Stripe Payments Australia Pty Ltd A.C.N. 160 180 343 (
              b Stripe
              |). Vendors must ensure that they read, understand and agree to be bound by the&nbsp;
              a(href="https://stripe.com/au/connect-account/legal" target='_blank') Stripe Connected Account Agreement
              |&nbsp;before registering their account. 
          tr
            td(colspan="2") Vendor Fees
          tr
            td 11
            td
              |Vendors must pay a non refundable, one off administration fee of $149 (including GST) to WePlanr on registration. This administration fee is payable by direct debit, credit card or bank transfer over the phone to an authorised agent or employee of WePlanr or online by following the prompts given through an invoice emailed to the email address provided to WePlanr.
          tr
            td 12
            td
              |WePlanr will charge a 4 – 10% transaction fee for every Booking, depending on the GST inclusive value of the Booking. Such transaction fee will be calculated on the following basis (
              b Transaction Fee
              |):
              table.services
                thead(valign="top")
                  th Service Fees
                  th Transaction Fee %
                tbody
                  tr(valign="top")
                    td Up to $1,000
                    td 10%
                  tr(valign="top")
                    td Between $1,000 and $10,000
                    td Pro rata 10% - 4%
                  tr(valign="top")
                    td More than $10,000
                    td 4%
              br/
              |For example, for illustrative purposes only:
              br/
              br/
              table.services-rates
                thead
                  th Service Fees
                  th Transaction Fee %
                  th Total Transaction Fee $
                tbody
                  tr
                    td $9,000
                    td 4.7%
                    td $420.00
                  tr
                    td $5,500
                    td 7.0%
                    td $385.00
                  tr
                    td $800
                    td 10%
                    td $80.00
          tr
            td 13
            td
              |Unless otherwise advised by WePlanr, WePlanr reserves the right to amend any of the above fees and amounts and method of calculation from time to time. Any amendments will be notified to the Vendor by email.
          tr
            td(colspan="2") Vendor’s Service Listing
          tr
            td 14
            td
              |Vendors will be required to provide certain information in order to create the Service Listing, this includes but is not limited to:
              ul(style="padding-left:15px;")
                li &#9679;&nbsp;&nbsp;&nbsp; Full Name of contact person authorised to act on Vendor’s behalf
                li &#9679;&nbsp;&nbsp;&nbsp; Registered Business Name
                li &#9679;&nbsp;&nbsp;&nbsp; Registered Address
                li &#9679;&nbsp;&nbsp;&nbsp; ACN/ABN
                li &#9679;&nbsp;&nbsp;&nbsp; GST eligibility
                li &#9679;&nbsp;&nbsp;&nbsp; Confirmation of website and/or social media accounts
          tr
            td 15
            td
              |Service Listings will be made publicly available via the Platform
          tr
            td 16
            td
              |WePlanr provides no guarantees relating to the placement of a Service Listing.
          tr
            td 17
            td
              |The Vendor warrants that the information provided in the Vendor Content and Service Listing is and will continue to be true and accurate. WePlanr recommends that Vendors check the Service Listing at least monthly to comply with this clause 16.
          tr
            td 18
            td
              |The Vendor warrants that the Service Listing is a complete representation of its Products and/or Services and that it will not enter into any separate correspondence with a Customer for the same or additional Products and/or Services outside the scope of these Terms.
          tr
            td(colspan="2") Bookings
          tr
            td 19
            td
              |On receipt of a Booking, Vendors must take all steps necessary to ensure the quality and delivery of the Products or Services, including the reservation of relevant dates and times, fulfilling any resourcing obligations and regularly communicating with the Customers to ensure their requirements are met.
          tr
            td 20
            td
              |The Vendor, not WePlanr, is solely responsible for honouring Bookings.
          tr
            td(colspan="2" style="font-size: 15.5px;") Customer Terms
          tr
            td(colspan="2") Customer Account Registration
          tr
            td 21
            td
              |Customers must register an account with WePlanr in order to purchase Products or Services via the Platform.
          tr
            td 22
            td
              |Customers must provide accurate, complete and up-to-date registration information, as requested.
          tr
            td 23
            td
              |It is the Customer’s responsibility to inform WePlanr of any changes to its registration information.
          tr
            td 24
            td
              |To the extent that the Customer provides personal information, WePlanr will treat such information strictly in accordance with WePlanr’s Privacy Policy.

          tr
            td 25
            td
              |Customers must not register multiple times, nor impersonate or create an account for any person other than for the Customer itself.
          tr
            td 26
            td
              |WePlanr may at any time request a form of identification to verify the Customer’s identity.
          tr
            td 27
            td
              |The Customer must ensure the security and confidentiality of its registration details, including any username and/or password assigned to it. Customers must notify WePlanr immediately if they become aware of any unauthorised use of their account.
          tr
            td 28
            td
              |The Customer may not transfer their account to any other entity. 
          tr
            td 29
            td
              |WePlanr reserves the right to, in its sole discretion, suspend or terminate the Customer’s access to all or any part of the Platform, including if WePlanr believes that the Customer is abusing the Platform in any way or has breached these Terms.
          tr
            td(colspan="2") Payment for Products and/or Services
          tr
            td 30
            td
              |When a Customer pays the final 60% installment of the Service Fees on the Platform, he or she will be sent to our third party payment gateway, Stripe, where half of the payment will be held in escrow. Our third party payment gateway is responsible for withholding funds until the Platform initiates a request to release the payment to the Vendor. See Financial Terms below.
          tr
            td(colspan="2") Contract is between Customer and Vendor
          tr
            td 31
            td
              |When you purchase Products or Services via the Platform, a direct contract forms between the Customer and the Vendor. The legal status of WePlanr is “introducer” and WePlanr is in no way responsible for the acts or omissions of the Vendor.
          tr
            td(colspan="2") Customer and Vendor Engagement
          tr
            td 32
            td
              |Customers agree to co-operate and make themselves available to Vendors throughout their engagement in order for the Vendors to provide the Products and/or Services.
          tr
            td(colspan="2" style="font-size: 15.5px;") General Terms
          tr
            td(colspan="2") Scope
          tr
            td 33
            td
              |The Platform is intended to act as a marketplace to facilitate Vendors and Customers connecting and booking Services.
          tr
            td 34
            td
              |While WePlanr acts as an introducer of the Services on the Platform, it is not responsible for and disclaims any and all liability related to the Services to the maximum extent permitted by law. 
          tr
            td 35
            td
              |Vendors and Customers acknowledge and agree that Weplanr and Vendors operate entirely independently from WePlanr. There is in no way a relationship of employee agent, joint venturer or partner between Vendors and WePlanr.
          tr
            td(colspan="2") Communication
          tr
            td 36
            td
              |To assist with keeping an accurate, auditable record of Vendors’ dealings with Customers, Vendors must communicate with Customers via the Platform at all times.
          tr
            td 37
            td
              |If Vendors meet with Customers in person, or communicate over the phone, WePlanr suggests following up with a communication via the Platform, for audit purposes.
          tr
            td(colspan="2") Financial Terms
          tr
            td 38
            td
              |All Service Fees and sums relevant to the Products and Services and use of the Platform are in AUD.
          tr
            td 39
            td
              |WePlanr will collect 40% of the Service Fees from Customers at the time that the booking is made and immediately transfer that 40% of the Service Fees, less Transaction Fees, to the Vendor. This 40% payment is non-refundable to the Customer, unless the Vendor breaches these Terms.
          tr
            td 40
            td
              |The Customer will pay the remaining 60% of the Service Fees 6 weeks prior to the date of delivery or as agreed upon by the Customer and Vendor for Services with a shorter turnaround time than 6 weeks.
          tr
            td 41
            td
              |The final 30% balance of the Service Fees will be transferred to the Vendor, less Transaction Fees, 5 business days after the date on which the Product/s or Service/s are delivered or performed unless the customer approves for the payment to be transferred earlier, whichever comes first.
          tr
            td(colspan="2") Licence to use Platform
          tr
            td 42
            td
              |WePlanr grants You a non-exclusive, worldwide, non-transferable licence to use the Platform in accordance with the Terms.
          tr
            td 43
            td
              |You may access and use the Platform (including any incidental copying that occurs as part of that use) in the normal manner and may also print one copy of any page within the Platform for Your own personal, non-commercial use.
          tr
            td(colspan="2") Intellectual Property
          tr
            td 44
            td
              |Nothing in these Terms constitutes a transfer of any intellectual property rights. You acknowledge and agree that WePlanr owns all intellectual property rights in the Platform. Nothing displayed on the Platform should be construed as granting any right of use in relation to any logo, masthead or trade mark displayed on the Platform without the express written consent of the relevant owner.
          tr
            td 45
            td
              |The WePlanr Content on this website is protected by copyright under the Australian Copyright Act 1968 (the Act) and, through international treaties, in other countries. Content displayed on or via the Platform is protected as a collective work and/or compilation, pursuant to copyright laws and international conventions. You agree not to copy, distribute or modify content from the Platform without Weplanr’s express written consent. You may not disassemble, decompile, reverse engineer or otherwise attempt to discover any source code contained in the Platform. Without limiting the foregoing, You agree not to reproduce, copy, sell, resell, or exploit for any purposes any aspect of the Platform (other than its own Content).
          tr
            td(colspan="2") Your Content
          tr
            td 46
            td
              |By uploading, transmitting, posting or otherwise making available any of Your Content via the Platform, You:
              table
                tr
                  td 46.1
                  td grant WePlanr a non-exclusive, worldwide, royalty-free, perpetual, licence to use, reproduce, edit and exploit Your Content for the purpose of the Services only;
                tr
                  td 46.2
                  td warrants that You have the right to grant the above mentioned licences;
                tr
                  td 46.3
                  td warrants that Your Content does not breach the Terms; and
                tr
                  td 46.4
                  td consents to any act or omission which would otherwise constitute an infringement of Your moral rights, and if You add any content in which any third party has moral rights, You must also ensure that the third party also consents in the same manner.
          tr
            td 47
            td
              |WePlanr reserves the right (but have no obligation) to:
              table
                tr
                  td 47.1
                  td review, modify, reformat, reject or remove any of Your Content which You upload, post, transmit or otherwise make available (or attempt to upload, post, transmit or otherwise make available) that, in WePlanr’s opinion, violates the Terms or otherwise has the potential to harm, endanger or violate the rights of any person; and
                tr
                  td 47.2
                  td monitor use of the Platform, and store or disclose any information that WePlanr collect, including in order to investigate compliance with the Terms or for the purposes of any police investigation or governmental request.
          tr
            td 48
            td
              |WePlanr is not responsible for, and accept no liability with respect to, any of Your Content uploaded, posted, transmitted or otherwise made available on the Platform by any person other than us. For the avoidance of doubt, WePlanr will not be taken to have uploaded, posted, transmitted or otherwise made Your Content available on the Platform simply by facilitating others to post, transmit or other make Your Content available. Furthermore, WePlanr does not endorse any opinion, advice or statement made by the You.
          tr
            td(colspan="2") Notifying WePlanr
          tr
            td 49
            td
              |If You think that the Platform has been accessed or used by another user in breach of the Terms, please email us at 
              a(href="mailto:support@weplanr.com") support@weplanr.com
              |. WePlanr will consider whether there are grounds for taking any action, but You won't necessarily be contacted as to our decision.
          tr
            td 50
            td
              |In particular, if You wish to send WePlanr a copyright infringement notification, You will need to identify Your Content that You believes infringes Your copyright, identify each copyright protected work in which You own the rights and which You believe has been infringed, identify how each copyright protected work has been or is being infringed and include Your contact information. You will need to sign the notice and send it to
              a(href="mailto:support@weplanr.com") support@weplanr.com.
          tr
            td(colspan="2") Policy on using the Platform
          tr
            td 51
            td
              |WePlanr wants to ensure that the Platform is useful, clean, friendly and as easy to use as possible for everyone. Your Content that falls outside the rules stated in our guidelines, or our Terms may be removed from the Platform.
          tr
            td 52
            td
              |WePlanr may issue warnings, limit or terminate service, remove hosted content and take technical and legal steps to keep users off the Platform, if WePlanr thinks they are creating problems or not acting in accordance with our policies. However, WePlanr does not accept any liability for monitoring or for unauthorised or unlawful content on the Platform or use of the Platform by You.
          tr
            td 53
            td
              |As a condition of Your use of the Platform You agree that You will not:
              table
                tr
                  td 53.1
                  td violate the rules or guidelines on posting content;
                tr
                  td 53.2
                  td harvest or otherwise collect information about others, including email addresses, without their consent;
                tr
                  td 53.3
                  td bypass measures used to prevent or restrict access to the Platform.
                tr
                  td 53.4
                  td use the Platform in breach of any applicable laws or regulations;
                tr
                  td 53.5
                  td use the Platform:
                    table(style="padding-left:40px;")
                      tr
                        td (a)
                        td to impersonate any person or entity;
                      tr
                        td (b)
                        td to solicit money, passwords or personal information from any person;
                      tr
                        td (c)
                        td to harm, abuse, harass, stalk, threaten or otherwise offend others; or
                      tr
                        td (d)
                        td for any unlawful purpose;
                tr
                  td 53.6
                  td use the Platform to upload, post, transmit or otherwise make available (or attempt to upload, post, transmit or otherwise make available) any Vendor Content that:
                    table(style="padding-left:40px;")
                      tr
                        td (a)
                        td is not Your original work, or which in any way violates or infringes (or could reasonably be expected to violate or infringe) the intellectual property or other rights of another person;
                      tr
                        td (b)
                        td is false or misleading;
                      tr
                        td (c)
                        td contains, promotes, or provides information about unlawful activities or conduct;
                      tr
                        td (d)
                        td is, or could reasonably be expected to be, defamatory, obscene, offensive, threatening, abusive, pornographic, vulgar, profane, indecent or otherwise unlawful, including Vendor Content that racially or religiously vilifies, incites violence or hatred, or is likely to offend, insult or humiliate others based on race, religion, ethnicity, gender, age, sexual orientation or any physical or mental disability;
                      tr
                        td (e)
                        td exploits another person in any manner;
                      tr
                        td (f)
                        td includes an image or personal information of another person or persons unless You have their consent;
                      tr
                        td (g)
                        td poses or creates a privacy or security risk to any person;
                      tr
                        td (h)
                        td You know or suspect (or ought reasonably to have known or suspected) to be false, misleading or deceptive;
                      tr
                        td (i)
                        td contains large amounts of untargeted, unwanted or repetitive content;
                      tr
                        td (j)
                        td contains restricted or password only access pages, or hidden content;
                      tr
                        td (k)
                        td contains viruses, or other computer codes, files or programs designed to interrupt, limit or destroy the functionality of other computer software or hardware;
                      tr
                        td (l)
                        td contains financial, legal, medical, health, nutritional or other professional advice;
                tr
                  td 53.7
                  td interfere with, disrupt, or create an undue burden on the Platform;
                tr
                  td 53.8
                  td use any robot, spider, or other device or process to retrieve, index, or in any way reproduce, modify or circumvent the navigational structure, security or presentation of the Platform;
                tr
                  td 53.9
                  td use the Platform with the assistance of any automated scripting tool or software;
                tr
                  td 53.10
                  td frame or mirror any part of the Platform without WePlanr’s prior written authorisation;
                tr
                  td 53.11
                  td use code or other devices containing any reference to the Platform to direct other persons to any other web page;
                tr
                  td 53.12
                  td except to the extent permitted by law, modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise disassemble any portion of the Platform or cause any other person to do so; or
                tr
                  td 53.13
                  td delete any attributions or legal or proprietary notices on the Platform.
            tr
              td 54
              td
                |You are solely responsible for all information that You submit to the Platform and any consequences that may result from Your Content. 
            tr
              td 55
              td
                |WePlanr reserves the right at its discretion to remove any of Your Content that WePlanr feels is inappropriate, breaches these Terms, is not relevant, or of value to the Platform community, with or without notice to the poster.
            tr
              td(colspan="2") Liability
            tr
              td 56
              td
                |To the extent permitted by law, all express or implied guarantees, warranties, representations or other terms and conditions relevant to your use of the Platform, but not contained in these terms and conditions are excluded.
            tr
              td 57
              td
                |For the purposes of Schedule 2 of the Australian Consumer Law, in particular Sections 51 to 53, 64 and 64A of Part 3-2, Division 1, Subdivision A of the Competition and Consumer Act 2010 (Cth), WePlanr’s liability for any breach of the Terms is limited to:
                table(style="padding-left:40px;")
                  tr
                    td(colspan="2" style="font-weight: 400;")
                      em In the case of Products:
                  tr
                    td a)
                    td the cost of replacing the Products;
                  tr
                    td b)
                    td the cost of obtaining equivalent Products; or
                  tr
                    td c)
                    td the cost of having the Products repaired;
                  tr
                    td(colspan="2" style="font-weight: 400;")
                      em in the case of Services:
                  tr
                    td a)
                    td the supplying of the Services again; or
                  tr
                    td b)
                    td the cost of having the Services supplied to you again, at WePlanr’s discretion.
            tr
              td 58
              td
                |WePlanr does not make any express or implied representation or warranty about, or shall be liable, in contract, tort (including negligence) or otherwise, for any direct, indirect, special or consequential loss, damages or reliance in connection with any of the Platform. 
            tr
              td 59
              td
                |You agree that WePlanr will not be liable for any loss or damage which it incurs as a result of use of this Platform including without limitation, damage caused by access delays, computer viruses, system failure or malfunction which may occur in your use of the Site including hyperlink to or from third party websites.
            tr
              td(colspan="2") Indemnity
            tr
              td 60
              td
                |You agree to fully indemnify WePlanr and its affiliates, employees, agents, contributors, third party content providers and licensors from and against all actions, suits, claims, demands, liabilities, costs, expenses, loss and damage (including legal fees on a full indemnity basis) incurred or suffered by You or by WePlanr as a direct or indirect consequence of Your access, use or transaction on Our Platform or Your attempts to do so, and/or any breach by You or Your agents of these Terms.
            tr
              td(colspan="2") Access to the Platform
            tr
              td 61
              td
                |While WePlanr will use reasonable endeavours to ensure that the Platform is available continuously, WePlanr does not make any representations or warranties that the Vendor’s access will be uninterrupted, timely, secure or error free. The Vendor’s access to the Platform may be suspended without notice in the case of system failure, maintenance or repair or any reason beyond our control.
            tr
              td 62
              td
                |Except as expressly provided otherwise in the Terms, WePlanr reserve the right to change or discontinue any website, feature or service (or part thereof) on the Platform at any time.
            tr
              td 63
              td
                |WePlanr do not warrant that WePlanr will continue to make the Platform available generally or at all and reserve the right at any time to impose or increase fees for future access to any WePlanr Content appearing in the email or on the website. The right is reserved to alter the Platform at any time, even if it changes the equipment needed to access or use the email or the Platform or any part of it.
            tr
              td(colspan="2") Cookies
            tr
              td 64
              td
                |The Platform uses cookies. If You do not have cookies enabled in Your web browser some functions of the Platform may not work as intended.
            tr
              td(colspan="2") Links
            tr
              td 65
              td
                |You are welcome to create links from Your website to the Platform. However, You must not use WePlanr trade marks or logos for this purpose unless You have WePlanr’s permission.
            tr
              td 66
              td
                |Our Platform and emails may contain links to websites not owned or operated by WePlanr. WePlanr does not accept liability for the availability or content of these sites.
            tr
              td(colspan="2") GST
            tr
              td 67
              td
                |Unless stated to be otherwise, charges referred to for any goods or services supplied (or offered for supply) via the Platform are to stated inclusive of GST. GST means the Australian goods and services tax charged under A New Tax System (Goods and Services Tax) Act 1999 ("Act").
            tr
              td(colspan="2") Severability
            tr
              td 68
              td
                |If any provision of these Terms is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms, which shall remain in full force and effect.
            tr
              td(colspan="2") No waiver
            tr
              td 69
              td
                |If WePlanr doesn’t enforce any particular provision, WePlanr is not waiving its right to do so later. If a court strikes down any of these terms, the remaining terms will survive. WePlanr may automatically assign this agreement at its sole discretion.
            tr
              td(colspan="2") Applicable law
            tr
              td 70
              td
                |These Terms shall be construed in accordance with and governed by the laws of New South Wales, Australia. All parties consent to the exclusive jurisdiction of the courts in New South Wales, Australia to determine any matter or dispute which arises under the Terms.
            tr
              td(colspan="2") Resolution of disputes
            tr
              td 71
              td
                |Should a dispute arise between Customers and Vendors, WePlanr suggests that You contact the the other party directly to resolve the matter.
            tr
              td 72
              td
                |Should a dispute arise between You and WePlanr, please contact WePlanr directly at&nbsp;
                a(href="mailto:support@weplanr.com") support@weplanr.com 
                |to seek a resolution. Any reasonable requests will be considered and WePlanr will attempt to resolve the dispute through alternative dispute resolution procedures, such as mediation or arbitration, as alternatives to litigation
            tr
              td(colspan="2") Whole agreement
            tr
              td 73
              td
                |These terms and the other policies posted on the Platform constitute the entire agreement between You and WePlanr, superseding any prior agreements.
            tr
              td(colspan="2") Assignment
            tr
              td 74
              td
                |You may not assign, sublicence or otherwise deal in any other way with any of Your rights under these Terms.
