form#search-booking-form.form-horizontal(ng-submit="page = 1;getData(page)")
  .form-group
    label.col-sm-2.col-form-label(for="booking-date-rangepicker") Date raised: 
    input.col-sm-10.form-control(id="booking-date-rangepicker")
  .form-group
    .col-sm-2
    .col-sm-10(style="padding-left: 0;")
      button.btn.btn-default(type="submit")
        i.fa.fa-search
        span Search
      label.btn.btn-success(ng-click="downloadCSV()")
        i.fa.fa-download
        span CSV Download
table.table.table-hover.table-list.table-responsive
  thead
    tr
      th Couple's name
      th Business name
      th Total Service Fee
      th Immediate Payment Confirmation No
      th Immediate Payment Fee
      th Booking Fee Payment Confirmation No
      th Booking Fee (40%)
      th Total Final Fee Payment Confirmation No
      th Total Final Fee (60%)
  tbody(ng-show="!loading")
    tr(ng-show="collection.length <= 0")
      td(colspan="5") No data found
    tr.btn-backlink(ng-repeat="obj in collection" ng-show="collection.length > 0" ui-sref="admin.transactions.bookings.show({id: obj.id})")
      td(ng-bind="obj.attributes.wedding.name")
      td(ng-bind="obj.attributes.vendor.name")
      td.text-right(ng-bind="obj.attributes.payment_breakdown.total | currency:'$':2")
      //- full
      td.text-right(ng-show="obj.attributes.total_invoice == 1" ng-bind="obj.attributes.payment_breakdown.full_invoice_no")
      td.text-right(ng-show="obj.attributes.total_invoice == 1" ng-bind="obj.attributes.payment_breakdown.full | currency:'$':2")
      td.text-center(ng-show="obj.attributes.total_invoice >= 2" colspan="2") n/a

      td.text-center(ng-show="obj.attributes.total_invoice <= 1" colspan="4") n/a
      //- deposit
      td.text-right(ng-show="obj.attributes.total_invoice == 2" ng-bind="obj.attributes.payment_breakdown.downpayment_invoice_no")
      td.text-right(ng-show="obj.attributes.total_invoice == 2" ng-bind="'$' + (obj.attributes.payment_breakdown.downpayment | number: 2)")
      
      //- due
      td.text-right(ng-show="obj.attributes.total_invoice == 2" ng-bind="obj.attributes.payment_breakdown.finalpayment_invoice_no")
      td.text-right(ng-show="obj.attributes.total_invoice == 2" ng-bind="'$' + (obj.attributes.payment_breakdown.finalpayment | number: 2)")
spinner(ng-show="loading")
pagination(count="count" page="page" on-change="getData(page)" ng-hide="count <= 10 || loading")