.settings-container
  font-size: 15px
  .group-details
    background-color: #383b40
    color: #ffffff
    font-size: 18px
    border-radius: 1rem 1rem 0 0
    padding: 8px
    margin-top: 8px
  .form-group
    border-right: 1px solid #383b40
    border-left: 1px solid #383b40
    margin-bottom: 0
    padding: 5px 0
    &.last
      border-bottom: 1px solid #383b40
      margin-bottom: 15px
      border-radius: 0 0 1rem 1rem