<div id="customer-landing" class="content">
  <section id="customer-welcome" class="bs-container landing">
    <div class="row">
      <div class="col-xs-12 text-center"><br />
        <p id="tagline">Plan your wedding effortlessly,<br />oragnise everything beautifully</p>
        <p>Find book and manage everything <br class="hide-desktop" /> in one place.</p>
        <br /> <br /> <a class="btn btn-default btn-border btn-success" href="/index?signup">REGISTER FOR FREE</a></div>
    </div>
  </section>
  <section id="customer-features" class="bs-container landing">
    <div class="row">
      <div id="feature-image" class="col-sm-12 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4 text-center"><img src="https://s3-ap-southeast-2.amazonaws.com/weplanr/weplanr/iPhone.png" /></div>
      <div class="list col-xs-6 col-sm-6 col-md-4 col-md-pull-4 col-lg-4 col-lg-pull-4 text-center">
        <div class="item">
          <div class="landing-icon notepad"></div>
          <p>Receive daily task reminders</p>
        </div>
        <div class="item">
          <div class="landing-icon storage"></div>
          <p>Updates your budget automatically</p>
        </div>
        <div class="item">
          <div class="landing-icon calendar"></div>
          <p>Reminders every time a payment is due</p>
        </div>
      </div>
      <div class="list col-xs-6 col-sm-6 col-md-4 col-lg-4 text-center">
        <div class="item">
          <div class="landing-icon message"></div>
          <p>Find all your vendors in one place</p>
        </div>
        <div class="item">
          <div class="landing-icon star"></div>
          <p>Review ratings &amp; testimonials</p>
        </div>
        <div class="item">
          <div class="landing-icon switch"></div>
          <p>Search by filter and chat direct</p>
        </div>
      </div>
    </div>
  </section>
</div>
