.icon-star:after
  content "\e915"

.icon-borderstar:before
  content "\e906"

@font-face
  font-family 'ubuntu'
  src url('/vendor/fonts/icoweplanr.eot')
  src url('/vendor/fonts/icoweplanr.eot?#iefix') format('embedded-opentype'), 
     url('/vendor/fonts/icoweplanr.woff') format('woff'), 
     url('/vendor/fonts/icoweplanr.ttf')  format('truetype')
