.custom-form
  +respond-to(1200px,0)
    .vendor-form-group.notes
      width: 95.3%
  .vendor-form-group.notes > .form-group > .form-control
    border: 1px solid #dcd7d7
    resize: none
    height: 293px
    margin-top: 3px
    +respond-to(0, 768px)
      height: 427px
      margin-top: 16px