header(logout="logout()" current-user="currentUser" current-vendor="currentVendor")
.main-content
  .content-container(style="min-height: 80vh;")
    div(style="padding-top: 20%; vertical-align: middle; text-align: center;")
      spinner
      h3 Loading please wait...
