modal .modal .modal-body
  section:nth-of-type(3)
    padding-bottom 1.5rem
  #options
    font-size 1.2rem
    font-weight bold
    line-height 2.4
    text-align left
    width 100%
    color rgba(98, 98, 98, 0.8)
    padding 2rem 4.4rem
    .box
      margin auto
      width 75%
      +respond-to(0, 768px)
        width 278px
      +respond-to(1824px, 0)
        width 82%
    a
      color rgba(206, 66, 87, 0.8)
      padding-top 5px