ul.user-menu-list.center-text
  li.menu-list-item
    a.dashboard.icon-layers(ui-sref="user.dashboard" ui-sref-active="active") Dashboard
  li.menu-list-item
    a.dashboard.icon-organisr(ui-sref="user.organiser" ui-sref-active="active") Organisr
  li.menu-list-item
    a.dashboard.icon-mail(ui-sref="user.messages" ui-sref-active="active") Messages
  li.menu-list-item
    a.dashboard.icon-calendar2(ui-sref="user.calendar" ui-sref-active="active") &nbsp;Calendar
  li.menu-list-item
    a.dashboard.icon-fave(ui-sref="user.favourites" ui-sref-active="active") Favourites
