ul#vendor-menu.user-menu-list.center-text
  li.menu-list-item
    a.dashboard.icon-layers.title(ui-sref="vendor.dashboard" ui-sref-active="active" ) &nbsp;Dashboard
  li.menu-list-item
    a.dashboard.icon-mail.title(ui-sref="vendor.messages" ui-sref-active="active") &nbsp;Messages
  li.menu-list-item
    a.dashboard.icon-calendar2(ui-sref="vendor.calendar" ui-sref-active="active") &nbsp;Calendar
  li.menu-list-item
    a.dashboard.icon-earning(ui-sref="vendor.earnings" ui-sref-active="active") &nbsp;Earnings
  li.menu-list-item
    a.dashboard.icon-label(ui-sref="vendor.transactions" ui-sref-active="active") &nbsp;Transactions
  li.menu-list-item
    a.dashboard.icon-clock(ui-sref="vendor.stats({id: currentVendor.slug})" ui-sref-active="active") &nbsp;Statistics
  li.menu-list-item
    a.dashboard.icon-fave(ui-sref="vendor.favourites" ui-sref-active="active") &nbsp;Favourites
