#search-header
  .header-container
    background-color $primary-bg
  .search-head
    background-color $white
  .icon
    padding 0

#search
  color $light-black
  margin-top 0
  .content-container
    padding-top 3rem

  .search-results
    margin-left 2rem
    margin-right 2rem
    +respond-to(0, 768px)
      margin-top 3rem !important
      margin 0
      border 0
    .collection
      padding 0
    .items
      margin 0 2rem 0.5rem
      width 22.2%
      z-index 0
      +respond-to(0,768px)
        width 253px
        margin 0
        .feature-display
          height 232px
    .fadeout
      width 100%
    .services
      margin-bottom 3em
      +respond-to(0, 768px)
        margin-left 4.5rem
    .icon-f:before
      font-size 2.1rem
      padding 1.1rem 1.55rem
  .search-again
    margin-top 69px

  .icon-search
    +respond-to(0,768px)
      margin-right 2rem
    +respond-to(0,425px)
      float none !important
      margin-left 2rem

  .flex-container
    display -webkit-flex
    display flex
    flex-flow row wrap
    -webkit-flex-flow row wrap
    margin-top 2rem