.row
  .col-md-12
    ul.pagination-sm.pagination.pull-right
      li(ng-class="{disabled: page == 1}")
        a(ng-click="queryPage(1)") First
      li(ng-class="{disabled: page == 1}")
        a(ng-click="queryPage('prev')") Previous
      li(ng-repeat="n in pages" ng-class="{active:  n == page}")
        a(ng-bind="n" ng-click="queryPage(n)")
      li(ng-class="{disabled: page == endPage}")
        a(ng-click="queryPage('next')") Next
      li(ng-class="{disabled: page == endPage}")
        a(ng-click="queryPage(totalPages)") Last
