#organisr-remove-item
  .modal > .modal-body
    padding: 47px 57px 33px
    top: 41%
    margin-top: 0
    +respond-to(0, 732px)
      top: 30%
    > .icon-exit:before
      border: 0
    .title-label
      font-size: 18px
      letter-spacing: -0.9px
      text-align: center
    .btn-actions
      padding-top: 33px
      text-align: center
      > .btn
        font-size: 16px
        font-weight: 600
        letter-spacing: -0.8px
        text-align: center
        border-radius: 7px
        width: 107px
        &.btn-success
          color: #ffffff
          padding: 7px 22px
        &.btn-cancel
          background-color: transparent
          color: $green-btn
      