#new-bank, #new-card
  form
    text-align: left
    padding-top: 0
  section
    padding-left 1.5rem
    padding-right 1.5rem
    .form-group
      padding: 0 30px
    .form-control
      width: 100%
    input
      bottom: 0
    label
      display: block
      position: initial
      font-weight: 500
      font-size: 14px
      padding: 0
      margin-bottom: 0
      text-align: left
  .btn
    font-size 1.3rem
    font-weight 500
    line-height 1.5
    padding 8px 44px
    margin-bottom 15px
    &.btn-green
      background-color $green-btn
    &.btn-gray
      background-color #bbb