.header-container
  position fixed
  width 100%
  z-index 1
  top 0
  background-color $primary-bg

  .header-nav
    padding 16px 32px
    font-size 16px
    max-width 1200px
    margin auto
     
  .header-logo
    width 100%
    text-align center
    .logo-container
      margin 0 auto
      display inline-block

ul
  margin 0
  padding 0
  list-style none
  li
    display inline-block
    padding 0
    vertical-align middle
    position relative
    a
      cursor pointer
      padding-left 0