#settings-container
  .row
    margin: 0
  .content-container
    padding: 0
  .inner-settings-container
    overflow: scroll
    height: 600px
  .inner-container
    max-width: 600px
    margin: auto
  .photo-container
    background-color: rgb(248,248,248)
    padding: 24px 0
    span
      cursor: pointer
    @media (max-width: 425px)
      text-align: center
    .inner-container > *
      vertical-align: middle
    .progress
      display: inline-block
      width: calc(100% - 80px)
      vertical-align: bottom
      .progress-bar
        background-color: #f0506b
    .img
      background-color: rgb(50,56,63)
      display: inline-block
      border-radius: 50%
      width: 55px
      height: 55px
      background-size: 100% 100%
      -webkit-background-size: 100% 100%
      -moz-background-size: 100% 100%
      -o-background-size: 100% 100%
      margin-right: 1.5rem
      background-repeat: no-repeat
      &.default
        background-size: 98%
        background-color: $default-photo-bg
        background-position: center
      @media (max-width: 400px)
        width 40px
        height 40px
        margin-right 1rem
    span
      color: rgb(240,80,107)
      font-weight: bold
      font-size: 13px
      @media (max-width: 400px)
        font-size: 10px
  form
    padding-top: 30px
    label
      color: #ccc
      font-size: 13px
    @media (max-width: 425px)
      .form-group
        padding: 0 3rem
    input:not([type='radio'])
      font-size: 20px
      margin: 4px 0 35px
      padding: 0
      height: 41px
      &.ui-select-search
        height: inherit
      &::-webkit-input-placeholder
        font-weight: 300
        color: rgba(0, 0, 0, 0.3)
      &:-moz-placeholder
        font-style: italic
        font-weight: 300
        color: rgba(0, 0, 0, 0.3)
      &::-moz-placeholder
        font-style: italic
        font-weight: 300
        color: rgba(0, 0, 0, 0.3)
      &:-ms-input-placeholder
        font-style: italic
        font-weight: 300
        color: rgba(0, 0, 0, 0.3)
      &:focus::-webkit-input-placeholder
        color: transparent
      &:focus::-moz-placeholder
        color: transparent
      &:focus:-moz-placeholder
        color: transparent

    .form-group
      position: relative
      .errors
        position: absolute
        bottom: -22px
      .input-prefix
        position: absolute
        top: 34px
        left: 0
        font-size: 20px
      .has-prefix
        padding-left: 1.5rem
      .wedding-date
        padding-left: 2.5rem
      i.fa
        color: #777
        font-size: 13px
        &.clickable-calendar
          position: absolute
          top: 40px
          left: 0
        &.fa-map-marker
          vertical-align: middle
      .radio-form-control
        margin 5px 10px 0 0
      .radio-option-text
            color $primary-text
            margin-right 25px
            font-weight 500
      @media (max-width: 425px)
        i.clickable-calendar, .input-prefix
          left: 3.125rem !important
          top: 30px
      .selectize-input
        background: none
        border-top: 0
        border-right: 0
        border-left: 0
        border-bottom: 1px solid #dcd7d7
        border-radius: 0
        font-size: 20px
        padding-top: 14px
        padding-bottom: 12px
        padding-left: 0
      .selectize-control.single .selectize-input:after
        border-color: #ce4257 transparent transparent transparent
    .account, .add-account
      width: 270px
      max-width: 82%
      height: 160px
      float: left
      margin-bottom: 2rem
      @media (min-width: 426px)
        &:nth-child(odd)
          margin-right: 30px
      @media (max-width: 426px)
        margin-left: 3rem
    .account
      border-radius: 10px
      padding-top: 60px
      padding-left: 20px
      background-color: #70c0ed
      color: white
      font-size: 17px
      font-weight: 300
      &.card
        background-color: #f7f8f9
        color: #555
        img
          //width: 50px
          height: 23px
          margin-bottom: 8px
    .add-account
      border: 3px dashed #ccc
      color: #ccc
      padding-top: 40px
      text-align: center
      font-size: 14px
      i.fa
        font-size: 35px
        margin-bottom: 8px
  .actions-container
    background-color: rgb(248,248,248)
    padding: 36px 0 18px
    > *
      height: 36px
    .mobile
      height: auto
      display: none
      > *
        display: block
        float: none !important
        text-align: center
        max-width: 85%
        margin: auto
    .non-mobile
      display: block
    @media (max-width: 767px)
      .mobile
        display: block
      .non-mobile
        display: none
    a
      display: inline-block
      color: #bbb
      font-size: 14px
      font-weight: 500
      float: left
      vertical-align: middle
    .save-btn
      buttons($white, $green-btn)
      border-radius: 9px
      color: white
      padding: 8px 17px
      float: right
      +respond-to(768px, 0)
        margin-left: 10px
        margin-right: 3px
    .cancel-btn
      buttons($white, #bbb)
      border-radius: 9px
      color: white
      padding: 8px 17px
    .delete-btn
      background-color: darkred
      border-radius: 9px
      color: white
      padding: 8px 17px
      font-weight: 400

#photo-crop-upload
  section
    padding-left 1.5rem
    padding-right 1.5rem
  .btn
    font-size 1.3rem
    font-weight 500
    line-height 1.5
    padding 8px 44px
    margin-bottom 15px
    &.btn-green
      background-color $green-btn
    &.btn-gray
      background-color #bbb
  .crop-area
    background #E4E4E4
    overflow hidden
    width 480px
    height 300px
    max-width 90%
    margin 0 auto

#user-referral-container
  padding: 15px 30px
  min-height: 351px
  width: 800px
  max-width: 100%
  margin: auto
  +respond-to(0,480px)
    padding: 15px
  p
    font-size: 15px
  .code
    color: $primary-hover
    margin-top: 5px
  .copy-instruction
    font-size: 30px
    +respond-to(0,768px)
      font-size: 16px
  .btn-success
    padding 8px 16px
  table
    width 100%
    tbody
      &.list
        display: block
        height: 136px
        overflow-y: auto
      td
        height 34px
        font-size 16px
        line-height 2.3
        +respond-to(0,320px)
          font-size: 12.5px
        .form-control
          border: 1px solid rgba(56, 59, 64, 0.102)
          &::-webkit-input-placeholder
            font-style: italic
            font-weight: 400
            color: rgba(0, 0, 0, 0.3)
            font-size: 13px
          &:-moz-placeholder
            font-style: italic
            font-weight: 400
            color: rgba(0, 0, 0, 0.3)
            font-size: 13px
          &::-moz-placeholder
            font-style: italic
            font-weight: 400
            color: rgba(0, 0, 0, 0.3)
            font-size: 13px
          &:-ms-input-placeholder
            font-style: italic
            font-weight: 400
            color: rgba(0, 0, 0, 0.3)
            font-size: 13px
          &:focus::-webkit-input-placeholder
            color: transparent
      tr.form-input > td
        border 0
        &.errors
          color $danger
          font-size 12px
  .refer
    width: 100%
    margin: 0 auto 30px
    border-top: 1px solid #c4c4c4
    padding-top: 25px
    height: 200px
    &.no-divider
      border-top: 0
      padding-top: 0
    .divider
      width: 50%
      display: inline-block
      float: left
      font-size: 16px
      line-height: 2.3
      +respond-to(0,768px)
        width: 100%
      &.credits
        border: 1px solid #c4c4c4
        border-bottom: 0
        border-right: 0
        padding: 4px
        +respond-to(0,768px)
          width: 50%
        +respond-to(0,320px)
          font-size: 12.5px
        &:nth-last-child(-n+2)
          border-bottom: 1px solid #c4c4c4
          margin-bottom 30px
        &.col-right
          border-left: 0
          border-right: 1px solid #c4c4c4
          width: 45%
          text-align: right
    .list
      display: block
      height: 175px
      overflow-y: auto
      line-height: 2.3
      +respond-to(0, 768px)
        height: 155px
      div
        font-size: 16px
        display: inline-block
        overflow: hidden
        +respond-to(0,320px)
          font-size: 12.5px
      .email
        width: 72%
        text-overflow ellipsis
      .status
        font-size: 12px
        width: 23%
